/*******************************************************************************
 * Animal Shelter
 *
 * custom css
 *
 *******************************************************************************/

/*******************************************************************************
 *
 * HTML
 *
*******************************************************************************/
body {
    font-size: 14px;
    margin-bottom: 30px;
}

.input-group-addon {
    min-width: 120px;
}


/*******************************************************************************
 *
 * PAGE
 *
*******************************************************************************/
.disabled {
    opacity:0.3;
}

/* Nav
*******************************************************************************/
.navbar .container .navbar-brand {
    margin-left:  0;
}

.navbar-brand {
    padding:  0;
}

.navbar-brand img {
    height:  50px;
}

/* Dashboard
*/
#dashboard .well {
    margin-bottom:  0;
}

 .dash-1 svg {
     min-width:  480px;
 }

.dash-2 {
    height: 240px;
    display:  inline-block;
}

 .dash-2 svg {

 }

/* Animals list
*******************************************************************************/
.timestamp {
    font-size: 11px;
    font-weight: normal;
    line-height: normal;
    text-align: right;
}

.Animal-link a {
    line-height: 22px;
    color: #000;
    font-weight: bold;
}

.Animal-link a:hover::after {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    content: "\f044";
    margin: 0;
    margin-left: 7px;
}

.desc-item {
    margin: 0 0.2em;
}

/* Animals faces
*******************************************************************************/
.icon-wrapper {
    padding-top: 25px;
    font-size: 20px;
}

.panel-heading {
    padding: 4px 5px;
}

.panel-footer {
    padding: 2px;
}

.panel-body {
    padding: 0;
    overflow:hidden;
    height: 150px;
    line-height: 150px;
    text-align: center;
}

.Animal-img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

.panel-footer p {
    margin: 0px;
}

/* Animal details
*******************************************************************************/
#details dt {
    font-size: 1.1em;
}

#details dd {
    font-size: 1em;
}

/* Animal edit
*******************************************************************************/
.Animal-preview {
    height: 100px;
}

/*******************************************************************************
 *
 * COMPONENTS
 *
*******************************************************************************/

/* Histogram
*******************************************************************************/
.bar {
    fill: #98ABC5;
}
.bar:hover {
    fill: #6B486B;
}

.axis text {
    font: 10px sans-serif;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
