/*******************************************************************************
 * Animal Shelter
 *
 * custom css
 *
 *******************************************************************************/

body {
    font-size: 14px;
    margin-top: 50px;
    margin-bottom: 60px;
}

table th {
    line-height: 20px;
    background: #EEE;
    font-size: 15px;
    font-weight: normal;
}

.input-group-addon {
    min-width: 120px;
}

.disable-icon {
    color: #BBB;
}

/* NAV
*******************************************************************************/
.navbar {
    border-color: #0099AB;
    border-radius: 0;
}

.navbar-inverse {
    background: #0099AB;
}

.navbar li {
    border-right: 1px solid #0A8E9E;
    border-left: 1px solid #2CA8B7;
}

.navbar-inverse .navbar-nav li a,
.navbar-inverse .navbar-brand {
    color: #FFF;
}

.navbar-inverse .navbar-nav>.dropdown>a .caret {
    border-top-color: #FFF;
    border-bottom-color: #FFF;
}

.navbar-inverse .navbar-nav .dropdown-menu li a {
    color: #999;
}


.icon-wrapper {
    padding-top: 25px;
    font-size: 20px;
}

/* ANIMALS
*******************************************************************************/

.animals-list-item {
}

.panel-heading {
    margin: 0;
    padding: 4px 5px;

}

.panel-footer {
    padding: 2px;
}

.animal-link a {
    line-height: 22px;
    color: #000;
    font-weight: bold;
}

.animal-link a:hover::after {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    content: "\f044";
    margin: 0;
    margin-left: 7px;
}

.panel {
    /*min-height: 250px;*/
}

.panel-body {
    padding: 0;
    overflow:hidden;
    height: 150px;
    line-height: 150px;
    text-align: center;
}

.animal-img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

.timestamp {
    font-size: 11px;
    font-weight: normal;
    line-height: normal;
    text-align: right;
}

.desc-item {
    margin: 0 3px;
}

.fa-female {
    color: #F36C7B;
}

.panel-footer p {
    margin: 0px;
}

/* ANIMALS
*******************************************************************************/
#details {
}
#details dt {
    font-size: 1.1em;
}
#details dd {
    font-size: 1em;
}

/* FOOTER
*******************************************************************************/
#footer {
    height: 50px;
}
