/*
#animals-table tbody tr:nth-child(even) {
  background-color: #EEE;
}
*/

body {
    font-size: 14px;
}

table th {
    line-height: 20px;
    background: #EEE;
    font-size: 15px;
    font-weight: normal;
}

.input-group-addon {
    min-width: 90px;
}

/* NAV
*******************************************************************************/
.navbar-default {
    background: #0099AB;
    box-shadow: 0 5px 3px -6px #4C4C4C;

}

.navbar li {
    border-right: 1px solid #0A8E9E;
    border-left: 1px solid #2CA8B7;
}

.navbar-default .navbar-nav li a,
.navbar-default .navbar-brand {
    color: #FFF;
}


.icon-wrapper {
    padding-top: 25px;
    font-size: 20px;
}

/* ANIMALS
*******************************************************************************/
.animal-link a {
    line-height: 22px;
    color: #000;
    font-weight: bold;
}

.animal-link a:hover::after {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    content: "\f044";
    margin: 0;
    margin-left: 7px;
}

.timestamp {
    font-size: 11px;
    font-weight: normal;
    line-height: normal;
    text-align: right;
}

.desc-item {
    margin: 0 3px;
}


/* FOOTER
*******************************************************************************/
#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#footer > .container {
    margin-top: 0;
    margin-bottom: 0;
}

#footer i {
    margin: 0;
    padding: 5px;
    font-size: 30px;
}
