.navbar-brand {
    padding: 0;
}

#wrap {
    padding-bottom: 80px;
}

#main {
    margin-top: 50px;
}

#home {
    padding-top: 30px;
    text-align: center;
}

#home img {
    width: 100%;
}

#animals {
    padding: 20px;
}

#animals-table th a {
    color: inherit;
}

#animals-table td a {
    /*color: #2c3e50;*/
}

#animals-table td, th {
    max-width: 200px;
    padding: 7px 20px 2px 5px;
}

#animals-table #date {
    min-width: 130px;
}

/*
#animals-table tbody tr:nth-child(even) {
  background-color: #EEE;
}
*/

#animal {
    padding: 20px;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#footer > .container {
    margin-top: 0;
    margin-bottom: 0;
}

#footer i {
    margin: 0;
    padding: 5px;
    font-size: 30px;
}
