/*******************************************************************************
 * Animal Shelter
 *
 * custom css
 *
 *******************************************************************************/

.disabled {
    opacity:0.3;
}

.center-cropped {
    /*    width: 100px;
        height: 100px;*/
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
}

.no-bullets {
    list-style-type: none;
}

.text-blue {
    color:#2196F3;
}

.text-pink {
    color:#E91E63;
}

/*******************************************************************************
 *
 * HTML
 *
*******************************************************************************/
body {
    font-size: 14px;
}

.input-group-addon {
    min-width: 120px;
}



/*******************************************************************************
 *
 * Bootstrap
 *
*******************************************************************************/
.btn {
    width: 118px;
}



/*******************************************************************************
 *
 * PAGE
 *
*******************************************************************************/


/* Nav
*******************************************************************************/
.navbar-brand {
    /*padding:  0;*/
}

.navbar-brand img {
    height:  50px;
}

.navbar-brand img {
    margin-top: -19.5px;
    display: inline-block;
}

/* Landing Page
*******************************************************************************/


/* Dashboard
*******************************************************************************/
#dashboard {
    font-size:  12px;
}

#dashboard article {
    text-align: center;
    margin-bottom:  0;
    padding:  4px;
}

@media (min-width: 768px) {
    .dash-1,
    .dash-2 {
        margin: 3px;
    }
}

.dash-1,
.dash-2 {
    display:  inline-block;
    vertical-align: top;
}

.dash-1.well {
    min-width:  300px;
    height: 150px;
}

.dash-2.well {
    width: 150px;
    height: 150px;
}

.dash-2 h1 {
    margin-top: 10px;
    margin-bottom: 5px;
}

#ages-dash text {
    fill: #eee;
}

/*
 * Animals
*******************************************************************************/
#animals .fa-plus-square {
    margin: 14px;
}

#animals ul {
    overflow-y: scroll;
    max-height: 500px;
}

#animals .well {
    margin-bottom: 1px;
    padding: 0;
}

.animal-item {
    min-height: 58px;
    overflow: hidden;
    cursor: pointer;
}

.animal-item .animal-img {
    width: 55px; height: 55px;
    float: left;
}

.animal-item .description {
    margin: 7px;
    float: left;
}

.animal-item .description strong {
    font-size: 16px;
}

.animal-item .description i {
    display: inline-block;
}

/* Animals list
*******************************************************************************/
.timestamp {
    font-size: 11px;
    font-weight: normal;
    line-height: normal;
    text-align: right;
}

#animals td {
    cursor: pointer;
}

.animal-link a {
    line-height: 22px;
    color: #000;
    font-weight: bold;
}

.animal-link a:hover::after {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    content: "\f044";
    margin: 0;
    margin-left: 7px;
}

.desc-item {
    margin: 0 0.2em;
}

/* Animals faces
*******************************************************************************/
.icon-wrapper {
    padding-top: 25px;
    font-size: 20px;
}

.panel-heading {
    padding: 4px 5px;
}

.panel-footer {
    padding: 2px;
}

.panel-body {
    padding: 0;
    overflow:hidden;
    line-height: 150px;
    text-align: center;
}

.panel-footer p {
    margin: 0px;
}

/* Animal new
*******************************************************************************/
#section-animal-new .well {
    overflow: hidden;
    padding-top: 20px;
}

.image-picker input {
    width: 100%;
}

/* Animal details
*******************************************************************************/
#details dt {
    font-size: 1.1em;
}

#details dd {
    font-size: 1em;
}

/* Animal edit
*******************************************************************************/
.animal-preview {
    max-height: 100px;
}

#image-button {
    width:  80%;
}



/*
 * Organizations
*******************************************************************************/
#organizations-list .item{
    margin-bottom: 1px;
    padding: 0;
    min-height: 58px;
    cursor: pointer;
}

#organizations-list .item .fa-plus-square {
    margin: 14px;
}

#organizations-list .item .logo {
    width: 58px; height: 58px;
    float: left;
}

#organizations-list .item i.logo {
    margin: 15px 14px;
}

#organizations-list .item .description {
    margin: 7px;
    float: left;
}

#organizations-list .item .description strong {
    font-size: 16px;
}

/*******************************************************************************
 *
 * Views
 *
*******************************************************************************/

.image-picker {
    height: 100%;
}

.image-picker img {
    display: inline-block;
}

.image-picker input[type=file] {
    display: inline-block;
    vertical-align: bottom;
}

/*******************************************************************************
 *
 * COMPONENTS
 *
*******************************************************************************/

/* Histogram
*******************************************************************************/
.bar {
    fill: #95a5a6;
}
.bar:hover {
    fill: #2c3e50;
}

.axis text {
    font: 10px sans-serif;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
